p{
    background-color: rgb(116, 183, 160);
}
a{
    background-color: rgb(238, 137, 137);
}
div{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.543);
}
span{
    background-color: rgb(228, 132, 15);
}